classifier/*
robot_code/build/rose_env/*
robot_code/build/car_horn/*
robot_code/build/gun_shot/*
robot_code/build/wav files.zip
mobile_code/ROSE/node_modules
mobile_code/ROSE/assets
mobile_code/ROSE/controllers
mobile_code/ROSE/navigators
mobile_code/ROSE/screens