cycler==0.10.0
eyeD3==0.8.8
kiwisolver==1.0.1
libmagic==1.0
matplotlib==3.0.2
numpy==1.15.4
pathlib==1.0.1
-e git+https://github.com/tyiannak/pyAudioAnalysis.git@8bd78757c139e79595af8348c94c960730db57d1#egg=pyAudioAnalysis
pydub==0.23.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-magic==0.4.15
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
